table {
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    height: 20px;
}

h1, h2, h3 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.title {
    background: #FFF;
    border: 1px solid #9DB3C5;
    padding: 1px;
    width: 90%;
    margin: 20px auto;
}

.title h1 {
    line-height: 31px;
    text-align: center;
    background: #2F589C url(th_bg2.gif);
    background-repeat: repeat-x;
    background-position: 0 0;
    color: #FFF;
}

.title th, .title td {
    border: 1px solid #CAD9EA;
    padding: 5px;
}

table.t1 {
    border: 1px solid #cad9ea;
    color: #666;
}

table.t1 th {
    background-image: url(th_bg1.gif);
    background-repeat:: repeat-x;
    height: 30px;
}

table.t1 td, table.t1 th {
    border: 1px solid #cad9ea;
    padding: 0 1em 0;
}

table.t1 tr.a1 {
    background-color: #f5fafe;
}